.commission_index .del_modal{padding: 0!important;border: 0!important;line-height: 0em;}
.commission_index .del_modal:hover{color: red;}
.modal-backdrop{ z-index: 10!important;}
#remove_model{
    margin-top: 0;
}

ul.ui-autocomplete.ui-menu {
  z-index: 1000;
}
/* CONTENT */
.vbox{z-index: 100;}
/* PAGINATION */
li.current a{background-color: #e0e4e8;}
.pagination-sm > li.next:last-child > a,
.pagination-sm > li.previous:first-child > a{
    height: 29px;padding-top: 6px;
}

.datepicker td.active, 
.datepicker td.active:hover, 
.datepicker td.active:hover.active, 
.datepicker td.active.active{
    background: #92cf5c;color: white;cursor: pointer;
}
.table-condensed thead > tr > td:hover, 
.table-condensed tbody > tr > td:hover, 
.table-condensed tfoot > tr > td:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}
.datepicker span.month,
.datepicker span.year
{padding: 0 1px;}
.datepicker span.month:hover,
.datepicker span.year:hover
{color: white;background-color: #92cf5c;}
.navbar-right ul.dropdown-menu li hr{
    margin: 5px 0;
}
.edit_history{margin-bottom: 0px;font-size: 0.9em;}
/* REQUIRED CLASS */
.req:after{
    content: " *";    
    color: #ea0000;
    font-size: 0.8em;
}
/* access */
body.access_denied .message{
    padding: 50px;
    text-align: center;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.access_denied .message h1{
    font-weight: bold;
    color: #ea0000;   
}
body.access_denied .message p{
    font-size: 1.2em;
}
/*Quotatioin */
#save_message{color: forestgreen;font-size: 1.1em;margin-top: 10px;position: fixed;text-shadow: 1px 1px 0px white;
right: 25px;float: right;background-color: #f5f5f5;z-index: 999;padding: 5px;display: none;}

.dynamic_save_status{font-weight: normal;}
.remove_dynamic{width: 42px;height: 38px;border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}
.remove_dynamic:hover{background-color: #eeeeee;}